[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]

	name = Santiago Ballerini
	email = sballerini@itba.edu.ar

[core]
    editor = nvim
    pager = "nvim +Man!"

[color]
    ; pager = no
[init]
	defaultBranch = main
[pull]
	rebase = true
