## 
bspwm/.config/bspwm/picom.conf
bspwm/.config/bspwm/dunstrc
bspwm/.config/bspwm/.rice
alacritty/.config/alacritty/colors.yml


ranger/.config/ranger/colorschemes/__pycache__/*
ranger/.config/ranger/plugins/__pycache__/*
ranger/.config/ranger/plugins/ranger_devicons/__pycache__/*
