## 
neovim/.config/nvim/plugin/packer_compiled.lua
neovim/.config/nvim/lazy-lock.json
zsh/.config/zsh/environment/credentials.zsh
zsh/.config/zsh/plugins/*
sketchybar/.config/sketchybar/scripts/weather.env.sh
tmux/.config/tmux/plugins/*


